import React, { Component } from 'react';

class {{pascalCase name}} extends Component {
   render() {
      return (
         <div>
            
         </div>
      );
   }
}

export default {{pascalCase name}};