import React, { Component } from 'react';
import './{{pascalCase name}}.css'

class Index extends Component {
   render() {
      return (
         <div>
            {{pascalCase name}}
         </div>
      );
   }
}

export default Index;