import React from 'react';

const {{pascalCase name}}Content =({ token, isOpen, toggle }) => {
   return (
      <div>
         Content Modal
      </div>
   );
}

export default {{pascalCase name}}Content;